.fill-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fill-viewport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex-column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-item-dynamic {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-item-static {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.scroll-xy {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.padding-sm {
    padding: 5px;
}

.padding-md {
    padding: 15px;
}

.padding-lg {
    padding: 30px;
}

.spacer-sm {
    width: 5px;
    height: 5px;
}

.spacer-md {
    width: 15px;
    height: 15px;
}

.spacer-lg {
    width: 30px;
    height: 30px;
}

.icon-container-lg {
    font-size: 500%;
}

.content-area {
    padding: 0px 15px;
}
